.footer{
  padding: 28px 0;
  background: #FFE6D2;
  &__logo{
    display: flex;
    column-gap: 42px;
    align-items: center;
    &-text{
      color: #000;
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__icons{
    display: flex;
    column-gap: 16px;
    align-items: center;
  }
  &__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}